<h1>Choose your account type</h1>
<%= form_for @user.becomes(User), url: user_path(@user) do |form|%>
  <div>
    <%= form.select :type, User::TYPES, include_blank: "User Type" %>
  </div>
  <%= form.submit "Update User type" %>
<% end %>
