<h3>Your Skills</h3>

<div>
  <%= button_to "Add Your Skills", new_user_proficiency_path(current_user), method: :get %>
</div>

<div>
  <% @proficiencies.each do |proficiency| %>
    <div>
      <%= render proficiency %>
      <div>
        <%= link_to "Update your Skill Level", edit_user_proficiency_path(current_user, proficiency), method: :get %>
      </div>
      <div>
        <%= link_to "Delete Skill", [current_user, proficiency], method: :delete,
        confirm: "Are you sure you want to delete this skill?" %>
      </div>
    </div>
  <% end %>
</div>


