<h2>Your Projects</h2>
<div>

  <% @projects.each do |project| %>

    <% if project.featured? %>
      <div>
        <em><b>Featured Project</b></em>
        <%= render project %>
        <%= button_to 'Unfeature', unfeature_project_path(project)%>
      </div>
    <% else %>
      <%= render project %>
      <%= button_to "Feature this project", feature_project_path(project) %>
    <% end %>

   <% end %> 
</div>
