
<div>
  <%= form.label :name, "Project Name: " %>
  <%= form.text_field :name, placeholder: "Project Name" %>
</div>
<div>
  <%= form.label :url, "Project url :" %>
  <%= form.url_field :url, placeholder: "Link to your Project" %>
</div>
