<h2>Your Employer Information</h2>
   <%= @employer_profile.company_name %>
   <%= @employer_profile.company_url %>
<% if @employer == current_user %>
  <%= link_to "New Employer Profile", new_employer_profile_path(@employer)%>
  <%= link_to "Update Employer Profile", edit_employer_profile_path(@employer, @employer_profile) %>
<% end %>
