<h2>DASHBOARD!</h2>
<div>
  <%= link_to "View your Profile", current_user %>
</div>
<div>
  <%= link_to "Update your Profile", edit_user_path(current_user) %>
</div>
<div>
  <%= link_to "View your Projects", , projects_path(current_user) %>
</div>
